<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
		<title>Hacker Corral | <%= yield(:title) %></title> 
	</head>
	<body>
		<h1>Hacker Corral</h1>
		<p>
			This is where Hacker Corral's home page will go
			<a href="http://hackercorral.com">Hacker Corral</a> home page.
		</p>
	</body>
</html>
<!-- "home" -->