<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% end %>


<div class="center hero-unit">
	<h1>Hacker Corral</h1>
	
	<h2>
		This is where Hacker Corral's home page will go
		<a href="http://hackercorral.com">Hacker Corral</a> home page.
	</h2>

	<%= link_to "Create Event", new_event_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("hackercorral.png", alt: "Hacker Corral"), 'http://hackercorral.com/' %>
<!-- "home" -->