<%= @event.event_name %>


<%= button_to("rsvp", "#{@event.id}/sign_up", class: "btn btn-primary") %>
<div class="container">
	<% @event.participants.each do |user| %>
		<li><%= user.username %>
	<% end %>
</div>
<!-- button goes here when clicked sends current user's id 
to the event's (which was clicked on calendar/map)
database... -->

<!-- form action => new controller  new action in show, update  -->