<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
		<title>Hacker Corral | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Help</h1> 
		<p>
			This is where I will have instructions on how to use the site
			<a href="/site/help">Hacker Corral Help Page</a>. Click here to see some notes.
		</p>
	</body>
</html>



<!-- help page -->