<footer class="footer">
	<small>
		Hacker Corral
    by <a href="http://tejas-mehta.com/">Tejas Mehta</a>
  </small>
  <nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="#">TBD</a></li>
		</ul>
	</nav>
</footer>