<footer class="footer">
	<small>
		<a href="http://tejas-mehta.com/">Hacker Corral</a>
    by Tejas Mehta
  </small>
  <nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="#">TBD</a></li>
		</ul>
	</nav>
</footer>